/* Обнуление */
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
   color: inherit;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
html,
body {
   min-height: 100%;
   color: #000;
}
/* .......GLOBAL CLASS......................... */
._container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}
.category {
   font-family: "Libre Franklin";
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #999;
   margin: 25px 0 18px;
}
.text {
   font-family: "Tenor Sans", sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 1.2;
   text-transform: uppercase;
   margin-bottom: 15px;
}
.author {
   font-family: "Libre Franklin", sans-serif;
   font-weight: 700;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1px;
   text-transform: uppercase;
}
/* ........HEADER............................... */
.header {
   display: flex;
   align-items: center;
   min-height: 90px;
   border-bottom: 1px solid #e6e6e6;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}
.header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   background-color: rgba(255 255 255 / 90%);
}
.header__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   z-index: 5;
}
.header__logo img {
   max-width: 100%;
}
.header__navigation-list {
   display: flex;
}
.header__link {
   font-family: "Libre Franklin", sans-serif;
   font-size: 14px;
   line-height: 1.71;
   margin: 0 20px;
   transition: text-decoration 0.3s linear;
}
.header__link:hover {
   text-decoration: underline;
}
/* ........HEADER_END.......................... */

/* ........MAIN................................ */
.main {
   margin-top: 150px;
}
.main__first-article {
   margin-bottom: 60px;
}
.main__articles {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(387px, 1fr));
   column-gap: 19.5px;
   row-gap: 50px;
   border-bottom: 1px solid #e6e6e6;
   padding-bottom: 90px;
}
.main__article {
}
.main__latest-posts {
   border-bottom: 1px solid #e6e6e6;
   padding: 90px 0;
}
.main__featured-posts {
   padding: 90px 0;
}
@media screen and (max-width: 417px) {
   .wrapper {
      padding: 0 5px;
   }
   .main__articles {
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
   }
}
/* ........First-article.............. */
.first-article {
   display: flex;
   column-gap: 50px;
}
.first-article__image {
   flex: 0 3 721px;
   transition: transform 0.2s linear;
}
.first-article__image:hover {
   transform: scale(0.95);
}
.first-article__image img {
   width: 100%;
}
.first-article__content {
   flex: 0 1 430px;
   display: flex;
   flex-direction: column;
}
.first-article__category {
   margin: 5px 0 18px;
}
.first-article__text {
   font-size: 36px;
   line-height: 1.17;
   margin-bottom: 0px;
}
.first-article__subtext {
   font-family: "Source Serif Pro", serif;
   font-size: 16px;
   line-height: 1.5;
   color: #666;
   margin: 27px 0 28px;
}
.first-article__author {
}
.first-article__category:hover,
.first-article__text:hover,
.first-article__subtext:hover,
.first-article__author:hover {
   text-decoration: underline;
}
@media screen and (max-width: 767px) {
   .first-article {
      flex-direction: column;
      row-gap: 25px;
   }
   .first-article__image,
   .first-article__content {
      flex-basis: auto;
   }
   .first-article__text {
      font-size: 28px;
   }
}
/* ........Article................ */
.article {
}
.article__image {
   transition: transform 0.2s linear;
}
.article__image:hover {
   transform: scale(0.95);
}
.article__image img {
   width: 100%;
}
.article__content {
}
.article__category {
}
.article__text {
}
.article__author {
}
.article__category:hover,
.article__text:hover,
.article__author:hover {
   text-decoration: underline;
}
/* ........Latest-posts............. */
.latest-posts {
}
.latest-posts__body {
   display: grid;
   column-gap: 20px;
   row-gap: 50px;
   grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
   margin-bottom: 90px;
}
.latest-posts__title {
   margin-top: 0;
   margin-bottom: 30px;
}
.latest-posts__article {
}
.latest-posts__btn {
   display: inline-block;
   border: 1px solid #000;
   padding: 20px 30px;
   margin-left: 50%;
   transform: translateX(-50%);
   transition: all 0.2s;
   font-family: "Libre Franklin";
   font-weight: 400;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: center;
}
.latest-posts__btn:hover {
   background-color: #e6e6e6;
}
/* ........Featured-posts............. */
.featured-posts {
}
.featured-posts__title {
   margin-top: 0;
   margin-bottom: 30px;
}
.featured-posts__body {
   display: grid;
   column-gap: 20px;
   row-gap: 50px;
   grid-template-columns: repeat(auto-fit, minmax(590px, 1fr));
}
.featured-posts__article {
}
@media screen and (max-width: 620px) {
   .featured-posts__body {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   }
}
/* ........MAIN_END............................ */

/* ........FOOTER............................... */
.footer {
   background: #141414;
   padding: 90px 0;
}
.footer__content .category {
   color: #666;
}
.footer__top {
   display: flex;
   align-items: center;
   column-gap: 15px;
   padding-bottom: 60px;
   border-bottom: 1px solid #4d4d4d;
}
.footer__copyright {
   align-self: flex-end;
   margin: 0;
}
.footer__bottom {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   row-gap: 60px;
   padding-top: 60px;
}
.footer__bottom .category {
   margin: 0 0 20px 0;
}
.footer__nav {
   flex: 0 1 900px;
   row-gap: 70px;
   align-items: start;

   display: flex;
   flex-wrap: wrap;
}
.footer__section {
   width: 25%;
   display: flex;
   flex-direction: column;
}
.footer__section:first-child {
   width: 100%;
}
.footer__list {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}
.footer__section:first-child .footer__list {
   flex-wrap: wrap;
   flex-direction: row;
}
.footer__section:first-child .footer__list li {
   width: 25%;
   padding-right: 10px;
}
.footer__link {
   font-family: "Libre Franklin";
   font-size: 14px;
   line-height: 1.71;
   color: #ffffff;
   transition: text-decoration 0.3s linear;
}
.footer__link:hover {
   text-decoration: underline;
}
.footer__subscribe {
   flex-basis: 300px;
}
.footer__subscribe form {
   display: flex;
}
.footer__subscribe input {
   padding: 18px 24px;
   font-family: "Libre Franklin";
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1px;
   color: #666;
   text-transform: uppercase;
   flex: 0 0 79px;
}
.footer__subscribe input[type="email"] {
   flex: 1 1 221px;
}
.footer__subscribe input[type="submit"] {
   background: #000;
   color: #fff;
   cursor: pointer;
}
@media all and (max-width: 667px) {
   .footer__bottom .category {
      text-align: center;
   }
   .footer__nav-title.category {
      margin: 0px 0 20px 15px;
   }
   .footer__nav {
      flex-direction: column;
      align-items: center;
      row-gap: 35px;
   }
   .footer__section,
   .footer__section:first-child {
      width: 200px;
      align-items: center;
      text-align: center;
   }
   .footer__nav-title {
      position: relative;
      width: fit-content;
      padding: 0 25px 0 0;
      cursor: pointer;
   }
   .footer__nav-title::before,
   .footer__nav-title::after {
      content: "";
      width: 10px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 6px;
      transition: all 0.3s ease 0s;
   }
   .footer__nav-title::before {
      transform: rotate(-40deg);
      right: 0px;
   }
   .footer__nav-title::after {
      transform: rotate(40deg);
      right: 8px;
   }
   .footer__list {
      display: none;
   }
   /* .........Accordion.............. */
   .footer__nav-title.active::before,
   .footer__nav-title.active::after {
      background-color: red;
   }
   .footer__nav-title.active::before {
      transform: rotate(40deg);
   }
   .footer__nav-title.active::after {
      transform: rotate(-40deg);
   }
   .footer__list.active {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .footer__section:first-child .footer__list li {
      flex-direction: column;
      width: 100%;
      padding-right: 0px;
   }
}
/* ........FOOTER_END........................... */
